asgiref==3.6.0
autopep8==1.5.6
blis==0.7.9
catalogue==2.0.8
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
charset-normalizer==3.0.1
click==7.1.2
colorama==0.4.6
contourpy==1.0.7
coverage==5.5
cycler==0.11.0
cymem==2.0.7
deprecation==2.1.0
Django==4.1.7
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
eyed3==0.9.7
filetype==1.2.0
fonttools==4.38.0
hmmlearn==0.2.8
idna==3.4
imbalanced-learn==0.10.1
imblearn==0.0
importlib-resources==5.12.0
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
MarkupSafe==2.1.2
matplotlib==3.7.0
murmurhash==1.0.9
nltk==3.8.1
numpy==1.24.2
packaging==23.0
pathy==0.10.1
Pillow==9.4.0
plotly==5.13.1
preshed==3.0.8
pyAudioAnalysis==0.3.14
pycodestyle==2.7.0
pydantic==1.8.2
pydub==0.25.1
pyparsing==3.0.9
python-dateutil==2.8.2
regex==2022.10.31
requests==2.28.2
scikit-learn==1.2.1
scipy==1.10.1
six==1.16.0
sklearn==0.0.post1
smart-open==6.3.0
spacy==3.0.9
spacy-legacy==3.0.12
sqlparse==0.4.3
srsly==2.4.5
tenacity==8.2.1
textblob==0.17.1
thinc==8.0.17
threadpoolctl==3.1.0
toml==0.10.2
tqdm==4.64.1
typer==0.3.2
typing_extensions==4.5.0
tzdata==2022.7
urllib3==1.26.14
vaderSentiment==3.3.2
wasabi==0.10.1
wincertstore==0.2
zipp==3.15.0
